[user]
	signingkey = 7694EB9B
	email = micha@rosetree.de
	name = Micha Rosenbaum
[core]
	editor = nvim
	excludesfile = ~/Documents/projects/mdr/tildeslash/.gitexcludes
	abbrev = 12
[gui]
	editor = gedit
[diff]
	tool = meld
[pull]
	rebase = true
[push]
	default = simple
[commit]
	template = ~/Documents/projects/mdr/tildeslash/git-commit-template
