[user]
	signingkey = 7694EB9B
	email = micha@rosetree.de
	name = Micha Rosenbaum

[core]
	editor = vim
	excludesfile = ~/.gitexcludes

[gui]
	editor = gvim --remote-silent

[diff]
	tool = meld
[commit]
	template = /home/micha/.tildeslash/git-commit-template
